body {
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/gatogris.jpg');
    font-family: 'Mali', cursive;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100vh;
}

.login {
    margin:0 auto ;
    width: 340px;
    height: 640px;
    background:rgba(126, 123, 123, 0.555);
    color: rgb(0, 0, 0);
    padding:20px ;
    border-radius: 20px;
}
  
.avatar{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.ed{
    margin-left: auto;
    margin-right: auto;
}
  
.login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
  
.login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
  
.login input {
    width: 100%;
    margin-bottom: 20px;
    
}
  
.email , .contra {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    height: 40px;
    font-size: 16px;
}
  
.boton {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding:10px ;
    margin:10px 0px 12px 0px ;
    
}
  
  
.login a {
    text-decoration: none;
    font-size: 15px;
    color: darkgrey;
    margin:9px;
}
.u{
    text-align: center;
    padding: 10px;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;  
}

.menu h1 {
    color: #b80f22;
}

.menu a{
    position: absolute;
    top: 3%;
    left: 90%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    padding: 0px 10px;   
    
}
.formulario{
    width: 328px;
    height: 568px;
    background: white;
    color: rgb(0, 0, 0);
    padding:20px ;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
}

.login1{
    margin:20% auto ;
    width: 328px;
    height: 172px;
    background: rgb(93, 93, 93);
    color: rgb(0, 0, 0);
    padding:20px ;
    border-radius: 20px;
}

.login1 h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login1 label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login1 input {
    width: 100%;
    margin-bottom: 20px;
    
}

/** CSS de registrar usuario **/
#headercitoxd{
    color: #b80f22;

}
.menu_registrar{
    position: absolute;
    top: 5%;
    left: 80%;
}

.menu_registrar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;   
}

.input_bar{
    border:none;
    border-bottom: 1px solid white;
    outline: none;
    
}

#input_bar_date{
    border:none;
    border-bottom: white;
}
