body {
    margin: 0;
    padding: 0;
    background: url(https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2018/08/gatos_y_perros.jpg?itok=EaXOjLwD);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
}
.x{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
.login {
    width: 328px;
    height: 620px;
    background: rgb(93, 93, 93);
    color: rgb(0, 0, 0);
    padding:20px ;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;

}
  
.avatar {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.ed{
    margin-left: auto;
    margin-right: auto;
    
}
  
.login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
  
.login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
  
.login input {
    width: 100%;
    margin-bottom: 20px;
    
}
  
.email , .contra {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
  
.boton {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding:10px ;
    margin:10px 0px 12px 0px ;
    
}
  
  
.login a {
    text-decoration: none;
    font-size: 15px;
    color: darkgrey;
    margin:9px;
}
.u{
    text-align: center;
    padding: 10px;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.menu h1 {
    color: #b80f22;
}

.menu nav{
    position: absolute;
    top: 5%;
    left: 80%;

}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;   
    
}
.formulario{
    width: 328px;
    height: 568px;
    background: rgb(93, 93, 93);
    color: rgb(0, 0, 0);
    padding:20px ;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
}
/** CSS de registrar usuario **/
#headercitoxd{
    color: #b80f22;

}
.menu_registrar{
    position: absolute;
    top: 5%;
    left: 80%;
}

.menu_registrar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;   
}

.input_bar{
    border:none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color:white;
}

#input_bar_date{
    border:none;
    border-bottom: white;
}